@font-face {
    font-family: 'CirceRounded Alt';
    src: url('CirceRoundedAlt-Bold.woff2') format('woff2'),
        url('CirceRoundedAlt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirceRounded';
    src: url('CirceRounded-ExtraLight.woff2') format('woff2'),
        url('CirceRounded-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirceRounded';
    src: url('CirceRounded-Light.woff2') format('woff2'),
        url('CirceRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirceRounded';
    src: url('CirceRounded.woff2') format('woff2'),
        url('CirceRounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirceRounded';
    src: url('CirceRounded-ExtraBold.woff2') format('woff2'),
        url('CirceRounded-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirceRounded';
    src: url('CirceRounded-Bold.woff2') format('woff2'),
        url('CirceRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirceRounded';
    src: url('CirceRounded-Thin.woff2') format('woff2'),
        url('CirceRounded-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirceRounded Alt';
    src: url('CirceRoundedAlt-Extrabold.woff2') format('woff2'),
        url('CirceRoundedAlt-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirceRounded Alt';
    src: url('CirceRoundedAlt-Bold.woff2') format('woff2'),
        url('CirceRoundedAlt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirceRounded';
    src: url('CirceRounded.woff2') format('woff2'),
        url('CirceRounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirceRounded';
    src: url('CirceRounded-Thin.woff2') format('woff2'),
        url('CirceRounded-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirceRounded Alt';
    src: url('CirceRoundedAlt-Extrabold.woff2') format('woff2'),
        url('CirceRoundedAlt-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirceRounded';
    src: url('CirceRounded-Light.woff2') format('woff2'),
        url('CirceRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirceRounded';
    src: url('CirceRounded-Bold.woff2') format('woff2'),
        url('CirceRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirceRounded';
    src: url('CirceRounded-ExtraBold.woff2') format('woff2'),
        url('CirceRounded-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirceRounded';
    src: url('CirceRounded-ExtraLight.woff2') format('woff2'),
        url('CirceRounded-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

